h1 {
    font-size: 40px;
    font-family: Arial;
}

h2 {
    font-size: 25px;
    font-family: Arial;
}

h3 {
    font-family: Arial;
}

p {
    font-size: 14px;
    font-family: Arial;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: Arial;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Table styling */
table {
    border-collapse: collapse;
    width: 750px;
    max-width: 100%;
    font-size: 18px;
}

th {
    font-weight: bold;
}

td {
    background-color: white;
header {
    display: flex;
    align-items: center;
    gap: 20px;
}

header img {
    width: 180px;
    height: auto;
}